.st0{fill:#FFDE17;}
.st1{fill:#FFCF1E;}
.st2{fill:#FEC122;}
.st3{fill:#FCB225;}
.st4{fill:#FAA427;}
.st5{fill:#F89628;}
.st6{fill:#F68828;}
.st7{fill:#F47A29;}
.st8{fill:#F36B29;}
.st9{fill:#F15A29;}
.st10{fill:#E4553A;}
.st11{fill:#DA4F4A;}
.st12{fill:#CF4956;}
.st13{fill:#C54461;}
.st14{fill:#BB3E6A;}
.st15{fill:#B13874;}
.st16{fill:#A7317C;}
.st17{fill:#9D2B85;}
.st18{fill:#92278F;}